doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='index.css' type='text/css')
    title BRayHoward
  body
    #nav-header.container-fluid
      nav.navbar.navbar-fixed-top
        .container-fluid.navbar-left
          .navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .navbar-brand
              a(href='#home') BRayHoward

        #navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li#link2: a(href='#about'): i.fa.fa-linkedin
            li#link2: a(href='#about'): i.fa.fa-github
            li#link2: a(href='#about'): i.fa.fa-twitter
            li#link3: a(href='#home').fa.fa-envelope-o

    #home.row.full-panel
      .left-side.col-sm-6
        img.profile-mobile.img-circle.center-block.visible-xs(src="img/brandon-profile.jpg")
        h3 Hi, My name is
        h1 Brandon Howard
        p.introduction.
          Thanks for comming by my site. I just recently graduated from
           <a href="http://nashvillesoftwareschool.com/"> NSS </a>.
           While I was there I learned all about the magic that is software
           develpment. And I also learned a lot about myself. We did three
           months of front end develpment & three months of back end develpment.
           In the fourth month I was introduced to Ruby, I quickly fell in love. Now I'm
           looking for thoughtful, passionate team to help me hone my new craft!




      .right-side.col-sm-6
        //img.img-responsive.profile.center-block(src="img/brandon-profile.jpg")


    #test.row.full-panel.full-panel-bg(style='background-image: url("http://www.fillmurray.com/1000/500")')
      .col-sm-5.col-sm-offset-2
        p.introduction.
          Thanks for comming by my site. I just recently graduated from
           <a href="http://nashvillesoftwareschool.com/"> NSS </a>.
           While I was there I learned all about the magic that is software
           develpment. And I also learned a lot about myself. We did three
           months of front end develpment & three months of back end develpment.
           In the fourth month I was introduced to Ruby, I quickly fell in love. Now I'm
           looking for thoughtful, passionate team to help me hone my new craft!



    script(src='vendor/jquery/dist/jquery.js')
    script(src='vendor/bootstrap-sass/assets/javascripts/bootstrap.js')
    script(src='index.js')


