doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8")
    link(href='http://fonts.googleapis.com/css?family=PT+Serif:400,700|Montserrat|Open+Sans:300' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='index.css' type='text/css')
    title Brandon Howard
  body
    .down-arrow.hidden-xs
          .chevron1
            i(class="fa fa-chevron-down")
          .chevron2
            i(class="fa fa-chevron-down")

    #nav-header.container-fluid
      nav.navbar.navbar-fixed-top
        .container-fluid.navbar-left
          .navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .navbar-brand
              a(href='#home') Brandon Howard

        #navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li#link2: a(href='#about'): i.fa.fa-linkedin
            li#link2: a(href='#about'): i.fa.fa-github
            li#link2: a(href='#about'): i.fa.fa-twitter
            li#link3: a(href='#home').fa.fa-envelope-o

    #home.row.full-panel
      .left-side.col-sm-6
        img.profile-mobile.img-circle.center-block.visible-xs(src="img/brandon-profile-grey.jpg")
        //h1 Brandon Howard,
        h1 Software craftsman & Rubiest in training.
        i(class="fa fa-quote-left fa-3x pull-left fa-border")
        p.introduction.
          Thanks for dropping by! I've recently graduated from
           <a href="http://nashvillesoftwareschool.com/"> Nashville Software School</a>, a six month,
           intensive, thirty-five hour a week, coding bootcamp. While I was there I learned all about the
           magic that is software develpment. I also learned a lot about myself. I experienced
           three months of front end develpment & three months of back end develpment.
           In the fourth month I was introduced to Ruby, I quickly fell in love. I'm
           seeking a thoughtful, passionate team to help me hone my new craft.

      .right-side.col-sm-6

    #skills.row.full-panel.full-panel.text-center
      .row
        .col-sm-8.col-sm-offset-2
          h2 Skills text that is great
      .row.logos
        .col-lg-12
          img.img-responsive.img-circle.center-block(src="img/logos/gulp_logo_words.png")
          i.fa.fa-github
          i.fa.fa-github
          i.fa.fa-github
    #human.row.full-panel.text-center.full-panel-bg(style='background-image:url("img/human-bg.jpg")')
      .row
        .col-sm-8.col-sm-offset-2
          h2 Skills text that is great
          p Bacon ipsum dolor amet cow jerky filet mignon pork belly short loin leberkas pork loin beef ribs kielbasa shank meatball picanha.
      .row.pics
        .col-sm-2.col-sm-offset-3.pic
          img.img-responsive.img-circle.center-block(src="img/human1.jpg")
          p Bacon ipsum dolor amet cow jerky <a href="#">filet mignon</a>
        .col-sm-2.pic
          img.img-responsive.img-circle.center-block(src="img/human2.jpg")
          p Bacon ipsum dolor amet cow jerky filet mignon
        .col-sm-2.pic
          img.img-responsive.img-circle.center-block(src="img/human1.jpg")
          p Bacon ipsum dolor amet cow jerky filet mignon



    script(src='vendor/jquery/dist/jquery.js')
    script(src='vendor/bootstrap-sass/assets/javascripts/bootstrap.js')
    script(src='index.js')


