@import '../public/vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$black: #000;
$white: #fff;
$middle: #97AD00;
$middle-grey: #809CAB;
$bright: #DFFF02;
$bright2: #9800FF;


$lato: 'Lato', sans-serif;
$pt-serif:'PT Serif', serif;

h1, h2 {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
}

h3 {
  color: $black;
  font-family: $pt-serif;
}

p {
  font-family: $pt-serif;
}

body {
 padding-top: 40px;
 color: $black;
}

a {
  color: $bright;
}
a:hover {
  color:$white;
  text-decoration: none;
}

a:focus {
  background-color: $black;
  color: $white;
  text-decoration: none;
}



@media (max-width: 768px) {
  h1 {font-size: 28px;}
  h2 {font-size: 20px;}
}

@media (max-width: 400px) {
  h1 {font-size: 22px;}
  h2 {font-size: 18px;}
}

nav {
  background-color: $black;
  font-weight: 100;
  a {
    color: $white;
    letter-spacing: 2px;
  }
  a:hover {
    color: $bright;
    letter-spacing: 2px;
    font-weight: 100;
  }
}
.navbar-right {
  margin-right: 0px !important;
}

.nav > li > a:hover {
  background-color: $black;
  color: $bright;
}

.profile-mobile {
  width: 40%;
  padding:20px;
}

.white-text {
  color: $white;
}
.full-panel {padding: 50px 25px 50px 50px;}
.full-panel-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 768px) {
  .full-panel {padding: 25px 20px 20px 20px;}
}
@media (max-width: 400px) {
  .full-panel {padding: 20px;}
}

html, body {height: 100%}

#home {
  background-color: $middle;
  background-image: url("img/brandon-profile-green.jpg");
  background-position: 95% bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%
}

@media (max-width: 1000px) {
  #home {
    background-size: auto;
    background-position: 120% bottom;
  }
}

@media (max-width: 768px) {
  #home {
    background-image: none;
    text-align: left;
    height: auto;
    i {font-size: 24px;}
  }
}

.down-arrow {
  position: absolute; left: 50px; top: 80%;
  color: $white;

  i {
    font-size: 30px;
    color: $black;
  }
}

@media (max-width: 400px) {
  .profile-mobile {
    width: 50%;
  }
}

#skills {
  background-color: $middle-grey;
  color: $black;
  img {
    max-width: 66px;
  }

  a {
    color: $bright2;
  }

  a:hover {
    color: $white;
  }

}

#human {
  p, h3 {
    color:$white;
    letter-spacing: 1px;
    text-shadow: 1px 1px black;
  }
  h2, {color: $black}
  .pics {
    margin: 25px 0 25px 25px;
    img {
      margin-bottom: 15px;
      border: 1px solid $black;
    }
    .pic {
      margin:25px 40px 50px 25px;
    }
    p {color: #FFEA0D}
  }
}

@media (max-width: 768px) {
  #human .pics .pic {
    margin-bottom: 25px;
    img {width: 50%;}
  }
}







