doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel="shorcut icon" type="image/ico" href="/img/favicon.ico")
    link(rel='stylesheet' href='vendor/font-awesome/css/font-awesome.min.css')
    link(href='//http:fonts.googleapis.com/css?family=Lato:100|PT+Serif' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='index.css' type='text/css')
    title Brandon Howard
  body
    .down-arrow.bounce.hidden-xs
      a(href='#skills')
        i.fa.fa-angle-double-down
    #nav-header.container-fluid
      nav.navbar.navbar-fixed-top
        .container-fluid.navbar-left
          .navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .navbar-brand
              a(href='#home') Brandon Howard

        #navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li#link2: a(href='https://github.com/brayhoward'): i.fa.fa-github
            li#link2: a(href='https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button'): i.fa.fa-linkedin
            li#link2: a(href='https://twitter.com/brandonrhoward1'): i.fa.fa-twitter

    #home.row.full-panel
      .left-side.col-sm-6
        img.profile-mobile.img-circle.center-block.visible-xs(src="img/brandon-profile-grey.jpg")
        h1 Software craftsman & Rubyist in training.
        i(class="fa fa-quote-left fa-3x pull-left fa-border")
        p.
            Thanks for dropping by! I've recently graduated from<a href="http://nashvillesoftwareschool.com/">
            Nashville Software School</a>, a six-month, thirty-five-hour-a-week coding bootcamp.
            The program consisted of three months of front-end development training and then three months of server-side training.
            While I was there, I learned all about the magic that is software development. I also
            learned a lot about myself. I am now seeking a thoughtful, passionate team to help me hone my new craft.

      .right-side.col-sm-6

    #skills.skills.row.full-panel.text-center
      .row
        .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
          h1 Tech prowess
          p.
            The vast majority of class time was spent hacking. I worked in small teams on group projects,
            and I also spent plenty of time doing solo projects as well.

      #myCarousel.carousel.center-block.hidden-xs.slide(data-ride="carousel")

        .carousel-inner.center-block(role="listbox")
          .item.active
            img.img-responsive.img-rounded.center-block(src="img/code-shots/bounty.png")
            div.text-center
              h4.highlight.
                <a href="https://github.com/brayhoward/swap">Bounty</a>,
                a social networking application built with Rails.

          .item
            img.img-responsive.img-rounded.center-block(src="img/code-shots/linked-list.png")
            div.text-center
              h4.highlight.
                <a href="https://github.com/brayhoward/linked_list_cohort_huckleberry">Linked list</a>
                data structure constructed with base Ruby.

          .item
            img.img-responsive.img-rounded.center-block(src="img/code-shots/calrb.png")
            div.text-center
              h4.highlight.
                Ruby implamentation of the Unix <a href="https://github.com/brayhoward/calendar_app">`Cal`</a> program
          .item
            img.img-responsive.img-rounded.center-block(src="img/code-shots/game-won-2.png")
            div.text-center
              h4.highlight.
                <a href="https://game-won.firebaseapp.com/?">Game-won</a>, tic-tac-toe built with javaScript.


        a.left.carousel-control(href="#myCarousel" role="button" data-slide="prev")
          span.fa.fa-chevron-left
        a.right.carousel-control(href="#myCarousel" role="button" data-slide="next")
          span.fa.fa-chevron-right

      .project-list.hidden-sm.hidden-md.hidden-lg
        .item
          img.img-responsive.img-rounded.center-block(src="img/code-shots/bounty.png")
          div.text-center
            h4.highlight.
              <a href="https://github.com/brayhoward/swap">Bounty</a>,
              a social networking application built with Rails.

        .item
          img.img-responsive.img-rounded.center-block(src="img/code-shots/linked-list.png")
          div.text-center
            h4.highlight.
              <a href="https://github.com/brayhoward/linked_list_cohort_huckleberry">Linked list</a>
              data structure constructed with base Ruby.

        .item
          img.img-responsive.img-rounded.center-block(src="img/code-shots/cal.png")
          div.text-center
            h4.highlight.
              Ruby implamentation of the Unix <a href="https://github.com/brayhoward/calendar_app">`Cal`</a> program
        .item
          img.img-responsive.img-rounded.center-block(src="img/code-shots/game-won-2.png")
          div.text-center
            h4.highlight.
              <a href="https://game-won.firebaseapp.com/?">Game-won</a>, tic-tac-toe built with javaScript.

      .row.logos.hidden-xs
        .col-sm-8.col-sm-offset-2
          p Doing one, sometimes, two new projects a week allowed me to familiarize myself with a lot of awesome technologies!
          .col-sm-1.col-sm-offset-1
            img.img-responsive.img-rounded.center-block(src="img/logos/gulp_logo_words.png")
          .col-sm-1
            img.img-responsive.img-rounded.center-block(src="img/logos/git_logo_words.jpg")
          .col-sm-1
            img.img-responsive.img-rounded.center-block(src="img/logos/jade_logo_words.png")
          .col-sm-1
            img.img-responsive.img-rounded.center-block(src="img/logos/3d-ruby.png")
          .col-sm-1
            img.img-responsive.img-rounded.center-block(src="img/logos/javascript_logo.png")
          .col-sm-1
            img.img-responsive.img-rounded.center-block(src="img/logos/rails_logo_words.jpg")
          .col-sm-1
            img.img-responsive.img-rounded.center-block(src="img/logos/rspec_logo_words.png")
          .col-sm-1
            img.img-responsive.img-rounded.center-block(src="img/logos/haml_logo_words.png")
          .col-sm-1
            img.img-responsive.img-rounded.center-block(src="img/logos/sass_logo_words.jpg")
          .col-sm-1
            img.img-responsive.img-rounded.center-block(src="img/bootsrap.jpeg")


    #human.row.full-panel.text-center.full-panel-bg(style='background-image:url("img/human-bg.jpg")')
      .row
        .col-sm-8.col-sm-offset-2
          h1 My human side...
          p When not putting code to paper, I enjoying getting out into the wilderness, climbing big rocks, kayaking, and spending time with loved ones.

      .row.pics
        .col-sm-4.pic
          img.img-responsive.img-circle.center-block(src="img/human2.jpg")
          p.highlight Friend to the tiny humans.
        .col-sm-4.pic
          img.img-responsive.img-circle.center-block(src="img/human1.jpg")
          p.highlight Lover of adventure.
        .col-sm-4.pic
          img.img-responsive.img-circle.center-block(src="img/human-and-squirrel.jpg")
          p.highlight Master of beasts.

      .row
        .text-center
          h4.email brandonrhoward@gmail.com

    .row.footer
      .col-sm-4.col-sm-offset-4.text-center
        a(href='mailto:brandonrhoward@gmail.com')
          span Get in Touch:
          i.fa.fa-envelope
        a(href='https://github.com/brayhoward'): i.fa.fa-github
        a(href='https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button'): i.fa.fa-linkedin
        a(href='https://twitter.com/brandonrhoward1'): i.fa.fa-twitter
      .col-sm-4
        .col-sm-1.col-sm-offset-8.text-center.hidden-xs
          a(href='#home')
            i.fa.fa-arrow-circle-o-up.arrow-up
    script(src='vendor/jquery/dist/jquery.js')
    script(src='vendor/bootstrap-sass/assets/javascripts/bootstrap.js')
    script(src='index.js')


